<h1>Addition Function</h1>
<%=form_tag  'addresult' do %>
First Number: <br>
<%= text_field_tag name='a' %>
<br>
<br>
Second Number: <br>
<%=text_field_tag name='b' %>
<br>
<br>
<%= submit_tag value='Calculate' %>
<% end %>