<h1>Division Function</h1>
<%=form_tag  'divisionresult' do %>
First Number: <br>
<%= text_field_tag name='a' %>
<br>
<br>
Second Number: <br>
<%=text_field_tag name='b' %>
<br>
<br>
<%= submit_tag value='Calculate' %>

<% end %>